<!--
<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
-->

<p>&copy; <a href="http://improveit.com.br">Improve It</a> - Rio de Janeiro.</p>

<p>Criação do site: <a href="http://beonthe.net" id="beonthenet" title="Crie seu site em 24h com o Be on the Net e tenha espaço ilimitado para imagens, fotos e vídeos. Temos modelos de sites (templates de sites) prontos para agilizar seu desenvolvimento web. Fazer um site nunca foi tão fácil.">Be on the Net</a>. Um produto da <a href="http://improveit.com.br" id="improveit" title="A Improve It ajuda você a criar seu site em 24h, com o Be on the Net, o jeito fácil de criar sites na internet. Crie seu site em minutos e tenha espaço ilimitado para imagens, fotos e vídeos. Modelos de sites (templates de sites) prontos para agilizar seu desenvolvimento web. Conheça o Be on the Net.">Improve It</a>.</p>

<p>Design de <a href="http://improveit.com.br/empresa/leandro">Leandro Mello</a> para o <a href="http://beonthe.net" title="Criar site em 24h é com o Be on the Net, o jeito fácil de criar sites na internet. Crie seu site em minutos e tenha espaço ilimitado para imagens, fotos e vídeos. Modelos de sites (templates de sites) prontos para agilizar seu desenvolvimento web.">Be on the Net</a>.</p>