<!-- <ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
</ul> -->

<ul>
  <li class="criar_site_fazer_site"><a href="http://beonthe.net" title="Sites profissionais para verdadeiros profissionais.">Criar site</a></li>
  <li class="faq"><a href="http://beonthe.net/faq/pagina" title="Perguntas frequentes">Perguntas frequentes</a></li>
  <li class="layouts"><a href="http://beonthe.net/layouts/pagina" title="Layouts">Layouts</a></li>
  <li class="criar_site"><a href="http://beonthe.net/criar_site/videos" title="Vídeos">Vídeos</a></li>
  <li class="contato"><a href="http://beonthe.net/contato" title="Contato">Contato</a></li>
  <li class="blog current"><a href="/" title="Blog">Blog</a></li>
  <li class="facebook"><a href="http://facebook.com/beonthenet.com.br">Facebook</a></li>
</ul>