<p>
  <a href='http://beonthe.net' title='Criar site é com Be on the Net. Tenha um site assim.'><img alt='Be on the Net' src='http://beonthe.net/accounts/beonthe.net/images/icons/beonthenet_16.png' /></a>
  <a href="http://www.facebook.com/beonthenet.com.br" title="Facebook"><img alt="Facebook" src="http://beonthe.net/accounts/beonthe.net/images/icons/facebook_16.png" /></a>
  <a href="http://twitter.com/beonthenet" title="Twitter"><img alt="Twitter" src="http://beonthe.net/accounts/beonthe.net/images/icons/twitter_16.png" /></a>
</p>